<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Leave a Note Page</title>
  </head>
  <body>
    <h1>Leave a Note</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/read-note">Read Notes</a></li>
    </ul>
    <form action="/leave-note" method="POST">
      <input type="textarea" name="note" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
